<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <section name="fastdfs" type="FastDFS.Client.Config.FastDfsConfigurationSectionHandler,FastDFS.Client"/>


  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <fastdfs>

    <FastDfsConfig GroupName="group2">
      <FastDfsServer IpAddress="192.168.138.244"  Port="22122"/>
    </FastDfsConfig>

  </fastdfs>



</configuration>