<?xml version="1.0"?>

<configuration>

  <configSections>

    <section name="fastdfs" type="FastDFS.Client.Config.FastDfsConfigurationSectionHandler,FastDFS.Client" />


  </configSections>

  <startup>

    <supportedRuntime version="v2.0.50727" />
  </startup>

  <fastdfs>

    <FastDfsConfig GroupName="G1">
      <FastDfsServer IpAddress="192.168.138.31" Port="22122" />
      <FastDfsServer IpAddress="192.168.138.137" Port="22122" />
    </FastDfsConfig>

  </fastdfs>


  <!--<system.serviceModel>
        <bindings>
                <netTcpBinding>
                        <binding name="NetTcpBinding_IFileService" transferMode="Streamed">
                                <security mode="None" />
                        </binding>
                </netTcpBinding>
                <wsHttpBinding>
                        <binding name="WsHttpBinding_SatisfactionSurvey_ISurvey">
                                <security>
                                        <message clientCredentialType="UserName" />
                                </security>
                        </binding>
                </wsHttpBinding>
        </bindings>
        <client>
                <endpoint address="net.tcp://192.168.138.12:810/FileService.svc"
                        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileService"
                        contract="ServiceReference1.IFileService" name="NetTcpBinding_IFileService" />
                <endpoint address="http://other1.eye.ac.cn:9106/SatisfactionSurvey/Service.svc"
                        binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_SatisfactionSurvey_ISurvey"
                        contract="ServiceReference2.ISurveyService" name="WsHttpBinding_SatisfactionSurvey_ISurvey">
                        <identity>
                                <certificate encodedValue="AwAAAAEAAAAUAAAANuyAeaw0HQ61VWWJoP5upjc5N3IgAAAAAQAAAP0BAAAwggH5MIIBYqADAgECAhCFf0Ili+zOoEpG9yLejtCOMA0GCSqGSIb3DQEBBAUAMBUxEzARBgNVBAMTCkV5ZVdjZkNlcnQwHhcNMTEwOTIxMDI1MzA1WhcNMzkxMjMxMjM1OTU5WjAVMRMwEQYDVQQDEwpFeWVXY2ZDZXJ0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDKvcjGWy89JgcMqJVRwi8fWuEU1kTwHYKicYybYUZrim/1+YqqwNqxncJCcPkxVE26ObRtIseulxI2fRa0+rUNVZtDA5WljTx6kylT+Pt7GiP0cKpOanQ8X1DWdvBCEvxzgebI/YMTJwBUDWhV+TW4WU/WVeJ8ogF8858pECmKLQIDAQABo0owSDBGBgNVHQEEPzA9gBAC0l3qsOs0RFvwYnTi+k9hoRcwFTETMBEGA1UEAxMKRXllV2NmQ2VydIIQhX9CJYvszqBKRvci3o7QjjANBgkqhkiG9w0BAQQFAAOBgQAqr0uRw6HSVC+J/xCzeU14LWSQZyOPdRCM6AzNVBPN64asBAkaWTIRgyD8mWNso4FtfN1jH+cgT5iEtB1xhcL4AJ7WI/SuMECB4f4Q/Vh3zo29M/7A830MrQ4tHFCngKe54M4qu37MmHMhwnmBlu76RFTzPShsRE3uK0Js71xNIA==" />
                        </identity>
                </endpoint>
        </client>
    </system.serviceModel>-->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behavior_NoneCertificate">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="EMRServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="2097152" maxReceivedMessageSize="2097152"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2097152"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EHRServiceSoap" />
        <binding name="ManageOtherSoapBinding" />
        <binding name="BasicHttpBinding_ISurgeryContract" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ClinicBook_IBookManage" closeTimeout="00:01:00"
          openTimeout="00:00:08" receiveTimeout="00:20:00" sendTimeout="00:02:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="50" maxBufferPoolSize="524288"
          maxBufferSize="1048576" maxConnections="100" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1048576"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:20:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ClinicBook_IBookNet" closeTimeout="00:01:00"
          openTimeout="00:00:08" receiveTimeout="00:20:00" sendTimeout="00:00:08"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="50" maxBufferPoolSize="524288"
          maxBufferSize="1048576" maxConnections="100" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1048576"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:20:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ClinicBook_IBookCity">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession inactivityTimeout="00:20:00" enabled="true" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ADManage_IService" sendTimeout="00:00:05">
          <readerQuotas maxDepth="32" maxStringContentLength="9192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession enabled="false" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ElectricPower_IManager" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="1048576" maxConnections="10" maxReceivedMessageSize="1048576"
          portSharingEnabled="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1048576"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:20:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_Employee_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="1048576" maxConnections="10" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1048576"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding_LisService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEMRBasicDataService" closeTimeout="00:00:08"
          openTimeout="00:00:15" receiveTimeout="00:00:10" sendTimeout="00:00:10"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IService" closeTimeout="00:00:08"
          openTimeout="00:00:15" receiveTimeout="00:00:10" sendTimeout="00:00:10"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_HjqYiKaTongServer_IYiKaTongService"
          closeTimeout="00:00:08" openTimeout="00:00:15" receiveTimeout="00:00:10"
          sendTimeout="00:00:10" bypassProxyOnLocal="false" transactionFlow="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
          useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMessageService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WsHttpBinding_SatisfactionSurvey_ISurvey" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="EmrAotuNotificationService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUploadService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2097152"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2097152"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="wsHttpBinding_MisPos_IPreAuthService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPathologyService" closeTimeout="00:00:08"
          openTimeout="00:00:15" receiveTimeout="00:00:10" sendTimeout="00:00:10"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEMROperationService" closeTimeout="00:00:08"
          openTimeout="00:00:15" receiveTimeout="00:00:10" sendTimeout="00:00:10"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEMROperationService1">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="wsHttpBinding_HisCharge_PreAuthCheck" maxReceivedMessageSize="1048576">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WsHttpBinding_SatisfactionSurvey_ISurvey1">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.17:8202/LisService/LisService.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBinding_LisService" contract="LisService.ILisService"
        name="wsHttpBinding_LisService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.87:8080/OtherWebservice/services/ManageOther"
        binding="basicHttpBinding" bindingConfiguration="ManageOtherSoapBinding"
        contract="DiagnoseService.ManageOther" name="ManageOther" />
      <endpoint address="net.tcp://192.168.2.186:9208/ClinicBook/Service.svc/BookManage"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ClinicBook_IBookManage"
        contract="webEyeClinicBook.ClinicBook_IBookManage" name="NetTcpBinding_ClinicBook_IBookManage" />
      <endpoint address="net.tcp://192.168.2.186:9208/ClinicBook/Service.svc/BookNet"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ClinicBook_IBookNet"
        contract="webEyeClinicBook.ClinicBook_IBookNet" name="NetTcpBinding_ClinicBook_IBookNet" />
      <endpoint address="net.tcp://192.168.2.186:9208/ClinicBookCity/Service.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ClinicBook_IBookCity"
        contract="webEyeClinicBookCity.ClinicBook_IBookCity" name="NetTcpBinding_ClinicBook_IBookCity" />
      <endpoint address="net.tcp://192.168.2.25:9208/AdService/Service.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ADManage_IService"
        contract="webEyeAD.ADManage_IService" name="NetTcpBinding_ADManage_IService" />
      <endpoint address="net.tcp://192.168.2.207:9201/EPService/WCFService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ElectricPower_IManager"
        contract="WCFService.ManagerService" name="NetTcpBinding_ElectricPower_IManager" />
      <endpoint address="net.tcp://192.168.2.207:9203/EmployeeService/Service.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Employee_IService"
        contract="ServiceReferenceEmployee.Employee_IService" name="NetTcpBinding_Employee_IService" />
      <endpoint address="http://192.168.2.1:8100/ThisEyeDataTransferWCFServic/EyeDataTransService/"
        binding="basicHttpBinding" contract="ThisEyeRDTService.IEyeDataTransService"
        name="HttpBinding_RDT_IEyeDataTransService" />
      <endpoint address="http://192.168.2.207:9104/YiKaTongService/Service.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_HjqYiKaTongServer_IYiKaTongService"
        contract="WzYiKaTongServer.IYiKaTongService" name="WSHttpBinding_HjqYiKaTongServer_IYiKaTongService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.207:9105/MessageService/MessageService.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMessageService" contract="MessageService.IMessageService"
        name="WSHttpBinding_IMessageService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.207:9106/SatisfactionSurvey/Service.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WsHttpBinding_SatisfactionSurvey_ISurvey"
        contract="webEyeSatisfactionSurvey.ISurveyService" name="WsHttpBinding_SatisfactionSurvey_ISurvey">
        <identity>
          <dns value="EyeWcfCert" />
          <certificate encodedValue="" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.17:9111/EMRBasicDataService/EMRBasicDataService.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IEMRBasicDataService" contract="HTDataService.IEMRBasicDataService"
        name="WSHttpBinding_IEMRBasicDataService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.65:9107/UserRole/InternalService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EMRServiceSoap"
        contract="wsUserRoleTest.InternalServiceSoap" name="InternalServiceSoap1" />
      <endpoint address="http://192.168.2.17:9107/UserRole/InternalService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EMRServiceSoap"
        contract="wsUserRole.InternalServiceSoap" name="InternalServiceSoap" />
      <endpoint address="http://192.168.2.17:9111/EmrNotifyService/EMR.NotifyService.WcfService.NotificationService.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="EmrAotuNotificationService" contract="NotifyServices.INotificationService"
        name="EmrAotuNotificationService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.98:7977/HQMSUpLoading/services/ExtendService"
        binding="basicHttpBinding" bindingConfiguration="EMRServiceSoap"
        contract="HTService.ExtendService" name="ExtendService" />
      <endpoint address="http://192.168.2.207:8085/MisPosPreAuth/Service.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBinding_MisPos_IPreAuthService"
        contract="PreAuthService.IPreAuthService" name="wsHttpBinding_MisPos_IPreAuthService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.59:9002/EHRService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EHRServiceSoap"
        contract="EHRService.EHRServiceSoap" name="EHRServiceSoap" />
      <endpoint address="http://192.168.2.17:9111/DigitalMedRecordsService/Service.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IService" contract="DigitalService.IService"
        name="WSHttpBinding_IService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.17:8066/PathologyService/PathologyService.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IPathologyService" contract="PathologyService.IPathologyService"
        name="WSHttpBinding_IPathologyService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.17:9111/EMROperationService/EMROperationService.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IPathologyService" contract="EMROperationService.IEMROperationService"
        name="WSHttpBinding_IEMROperationService">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.17:9111/EMROperationService/EMROperationService.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IEMROperationService1" contract="SimHtService.IEMROperationService"
        name="WSHttpBinding_IEMROperationService1">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.207:8017/Surgery/SurgeryStatisticsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISurgeryContract"
        contract="SurgeryService.ISurgeryContract" name="BasicHttpBinding_ISurgeryContract" />
      <endpoint address="http://192.168.2.17:8202/GlassesChargeService/Service.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBinding_HisCharge_PreAuthCheck"
        contract="PreAuthCheckService.IPreAuthCheckService" name="wsHttpBinding_HisCharge_PreAuthCheck">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.2.17:8202/ChargeCompanyGlass/ChargeCompany.svc"
        behaviorConfiguration="Behavior_NoneCertificate" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBinding_HisCharge_PreAuthCheck"
        contract="ChargeCompanyClient.IChargeCompany" name="wsHttpBinding_HisCharge_chargecompany">
        <identity>
          <dns value="EyeWcfCert" />
        </identity>
      </endpoint>
      <endpoint address="http://other2.eye.ac.cn:9106/SatisfactionSurvey/Service.svc"
        binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_SatisfactionSurvey_ISurvey1"
        contract="webEyeSatisfactionSurvey.ISurveyService" name="WsHttpBinding_SatisfactionSurvey_ISurvey1">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAANuyAeaw0HQ61VWWJoP5upjc5N3IgAAAAAQAAAP0BAAAwggH5MIIBYqADAgECAhCFf0Ili+zOoEpG9yLejtCOMA0GCSqGSIb3DQEBBAUAMBUxEzARBgNVBAMTCkV5ZVdjZkNlcnQwHhcNMTEwOTIxMDI1MzA1WhcNMzkxMjMxMjM1OTU5WjAVMRMwEQYDVQQDEwpFeWVXY2ZDZXJ0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDKvcjGWy89JgcMqJVRwi8fWuEU1kTwHYKicYybYUZrim/1+YqqwNqxncJCcPkxVE26ObRtIseulxI2fRa0+rUNVZtDA5WljTx6kylT+Pt7GiP0cKpOanQ8X1DWdvBCEvxzgebI/YMTJwBUDWhV+TW4WU/WVeJ8ogF8858pECmKLQIDAQABo0owSDBGBgNVHQEEPzA9gBAC0l3qsOs0RFvwYnTi+k9hoRcwFTETMBEGA1UEAxMKRXllV2NmQ2VydIIQhX9CJYvszqBKRvci3o7QjjANBgkqhkiG9w0BAQQFAAOBgQAqr0uRw6HSVC+J/xCzeU14LWSQZyOPdRCM6AzNVBPN64asBAkaWTIRgyD8mWNso4FtfN1jH+cgT5iEtB1xhcL4AJ7WI/SuMECB4f4Q/Vh3zo29M/7A830MrQ4tHFCngKe54M4qu37MmHMhwnmBlu76RFTzPShsRE3uK0Js71xNIA==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>