<?xml version="1.0"?>

<configuration>

  <configSections>

    <section name="fastdfs" type="FastDFS.Client.Config.FastDfsConfigurationSectionHandler,FastDFS.Client" />


  </configSections>

  <startup>

    <supportedRuntime version="v2.0.50727" />
  </startup>

  <fastdfs>

    <FastDfsConfig GroupName="G1">
      <FastDfsServer IpAddress="192.168.138.31" Port="22122" />
      <FastDfsServer IpAddress="192.168.138.137" Port="22122" />
    </FastDfsConfig>

  </fastdfs>


</configuration>
